.rootLettersEditor {
  display: flex;
  justify-content: center;
}

.sarfKabir {
  display: grid;
  gap: 64px;
}

@media (min-width: 768px) {
  .sarfKabir {
    grid-template-columns: repeat(2, 1fr);
  }
}
