.accordion-group {
  border: solid 1px var(--border);
  border-radius: 6px;

  .content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 250ms;

    &.open {
      grid-template-rows: 1fr;
    }

    .content {
      overflow: hidden;
    }
  }
}
