.app-container {
  flex: 1;
  height: 0;
  display: flex;
  flex-direction: column-reverse;

  main {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    overflow: auto;

    .router {
      flex: 1;
      height: 0;
      overflow: auto;
    }
  }
}

@media only screen and (min-width: 600px) {
  .app-container {
    flex-direction: row;

    main {
      flex: 1;
      padding-top: 0;
    }

    aside {
      width: 250px;
    }
  }
}
