.audio-player {
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 0 16px;
  transition: height 250ms;
  overflow: hidden;
  background-color: var(--white);

  &.visible {
    height: 48px;
    border-top: solid 1px var(--border);
  }

  .main-controls {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    input {
      flex: 1;
      width: 0;
      max-width: 300px;
    }

    .playback-speed {
      display: flex;
      gap: 8px;

      div {
        transition: color 250ms;
        cursor: pointer;
        user-select: none;

        &.active,
        &:hover {
          div {
            color: var(--text) !important;
          }
        }
      }
    }
  }
}
