.icon-button {
  padding: 0;
  border-radius: 6px;
  flex-shrink: 0;

  cursor: pointer;
  background-color: var(--white);
  transition: background-color 250ms;

  &.active,
  &:hover {
    background-color: var(--hover);
  }
}
