.menu-item {
  display: flex;
  gap: 4px;
  height: 2.5rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  direction: rtl;
  user-select: none;
  align-items: center;

  cursor: pointer;
  background-color: var(--white);
  transition: background-color 250ms;

  &.active,
  &:hover {
    background-color: var(--hover);
  }
}
