.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 1rem;

  & + & {
    border-top: solid 1px var(--border);
  }
}

@media print {
  .section {
    break-inside: avoid;
  }
}
