.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;

  &:first-of-type {
    padding-top: 0;
  }

  & + & {
    border-top: solid 1px var(--border);
  }
}

@media print {
  .section {
    break-inside: avoid;
  }
}
