.root-letters-editor {
  direction: rtl;
  display: flex;

  input {
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    border: solid 1px var(--border);
    padding: 0;
    border-radius: 0;
    text-align: center;
    color: var(--text);
    outline: none;
    font-size: 1rem;
    font-weight: 600;

    &:first-of-type {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    &:last-of-type {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &:focus-within {
      border-color: var(--text);
      z-index: 1;
    }

    &::placeholder {
      color: var(--border);
    }

    &:disabled {
      color: var(--text-secondary);
    }
  }

  input + input {
    margin-right: -1px;
  }
}
