.table {
  border: solid 1px var(--border);
  border-radius: 6px;
  width: 60%;
  margin: 0 auto;

  .table-row:not(:first-of-type) {
    border-top: solid 1px var(--border);
  }
}

.table-row {
  display: flex;
  cursor: pointer;
  user-select: none;

  div {
    height: 32px;
    padding: 2px 8px;
  }

  div:first-of-type {
    flex: 1;
  }

  div + div {
    border-left: solid 1px var(--border);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.dropdown {
  height: 36px;
  color: var(--text);
  padding: 0 8px;
  border: solid 1px var(--border);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 250ms;

  &:focus {
    border-color: var(--text);
  }
}
