.sample-text {
  padding: 0.5rem;
  text-align: center;
  border: solid 1px var(--border);
  border-radius: 6px;
  background-color: var(--white);
}

.table {
  border: solid 1px var(--border);
  border-radius: 6px;
  width: 60%;
  margin: 0 auto;

  .table-row:not(:first-of-type) {
    border-top: solid 1px var(--border);
  }
}

.table-row {
  display: flex;
  cursor: pointer;
  user-select: none;

  div {
    height: 2.25rem;
    padding: 0 8px;
    display: flex;
    align-items: center;
  }

  div:first-of-type {
    flex: 1;
  }

  div + div {
    border-left: solid 1px var(--border);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.dropdown {
  height: 2.25rem;
  color: var(--text);
  padding: 0 8px;
  border: solid 1px var(--border);
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 250ms;
  background-color: var(--hover);

  &:focus {
    border-color: var(--text);
  }
}
