aside {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-left: solid 1px var(--border);

  .header,
  .footer {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .header {
    border-bottom: solid 1px var(--border);
    position: relative;
    padding: 0 24px;
    user-select: none;

    .logo {
      transition: opacity 250ms;
    }

    .mobile-menu {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 24px;
      bottom: 0;
      display: flex;
      align-items: center;
      transition: opacity 250ms;
    }
  }

  .sidebar-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;
    padding: 16px 24px;
    padding-right: 8px; // 24px (from line above) - 16px (scrollbar width)
    overflow-y: scroll;
  }

  .footer {
    border-top: solid 1px var(--border);
  }
}

@media only screen and (max-width: 600px) {
  aside {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-left: none;
    height: 100%;
    z-index: 99;
    transition:
      top 250ms,
      height 250ms,
      background-color 250ms;

    .header {
      height: 60px;

      .mobile-menu {
        opacity: 1;
        pointer-events: initial;
      }
    }

    &:not(.open) {
      top: calc(100% - 60px);
      height: 60px;
      overflow: hidden;
      background-color: transparent;
      pointer-events: none;

      .header {
        border-bottom: none;

        .logo {
          opacity: 0;
        }
      }
    }
  }
}
