.tasreef {
  display: grid;
  gap: 1rem;
  min-width: 7.5rem;
  position: relative;
  flex-shrink: 0;
  direction: rtl;
  grid-template-rows: auto 1fr;

  .cell {
    display: flex;
    flex-direction: row-reverse;
    height: 2.25rem;
    background-color: var(--white);
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    padding: 0 0.75rem;
    white-space: nowrap;
    border: solid 1px var(--border);
    border-radius: 6px;
    position: relative;
    font-weight: 600;

    .play {
      position: absolute;
      top: 0;
      left: 6px;
      bottom: 0;

      display: flex;
      align-items: center;
    }
  }

  .not-found {
    grid-column: 1 / -1;
    min-height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: solid 1px var(--border);
    border-radius: 6px;
  }

  .person {
    display: grid;
    gap: 1rem;
    overflow: hidden;

    .gender {
      border: solid 1px var(--border);
      border-radius: 6px;
      overflow: hidden;

      .cell {
        .seegha,
        .seegha-number {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .seegha {
          flex: 1;
          padding: 0 0.75rem;
          white-space: nowrap;

          span {
            right: -1.25rem;
          }
        }

        .seegha-number {
          width: 1.5rem;
          user-select: none;
          color: var(--text-secondary);
          border-left: solid 1px var(--border);
          font-size: 14px;
        }
      }

      .cell + .cell {
        border-top: solid 1px var(--border);
      }
    }
  }

  &.by-gender {
    .person:not(:last-of-type) {
      grid-template-columns: 1fr 1fr;
    }

    .gender:nth-child(2n) {
      .cell {
        flex-direction: row;
      }

      .seegha-number {
        border-left: none;
        border-right: solid 1px var(--border);
      }
    }
  }

  &.by-person {
    grid-template-columns: 1fr 1fr;

    .header,
    .person:last-of-type {
      grid-column: span 2;
    }

    .person {
      gap: 0;
      border: solid 1px var(--border);
      border-radius: 6px;

      .gender {
        border: none;
        border-radius: 0;

        &:nth-child(2n) {
          border-top: solid 1px var(--border);
        }
      }

      &:nth-child(2n + 1) {
        .cell {
          flex-direction: row;

          .seegha-number {
            border-left: none;
            border-right: solid 1px var(--border);
          }
        }
      }
    }
  }
}
