.tasreef {
  display: grid;
  gap: 16px;
  min-width: 120px;
  min-height: 360px;
  position: relative;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 12px;
    white-space: nowrap;
    border: solid 1px var(--border);
    border-radius: 6px;
    position: relative;
    font-weight: 600;

    .play {
      position: absolute;
      top: 0;
      left: 6px;
      bottom: 0;

      display: flex;
      align-items: center;
    }
  }

  .not-found {
    border: solid 1px var(--border);
    border-radius: 6px;
    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 16px;
  }

  .person {
    display: grid;
    gap: 16px;
    direction: ltr;

    .gender {
      border: solid 1px var(--border);
      border-radius: 6px;

      div {
        display: grid;
        grid-template-columns: 1fr 24px;
        height: 36px;

        p,
        span {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        p {
          direction: rtl;
          padding: 0 12px;
          white-space: nowrap;
        }

        span {
          user-select: none;
          color: var(--text-secondary);
          border-left: solid 1px var(--border);
          font-size: 14px;
          line-height: 24px;
        }
      }

      div + div {
        border-top: solid 1px var(--border);
      }
    }
  }

  &.by-gender {
    .person:not(.first) {
      grid-template-columns: 1fr 1fr;
      direction: rtl;
    }

    .gender:nth-child(2n) span {
      border-left: none;
      border-right: solid 1px var(--border);
    }

    .gender:nth-child(2n + 1) div {
      direction: ltr;
    }
  }

  &.by-person {
    grid-template-columns: 1fr 1fr;
    direction: rtl;

    .header,
    .first {
      grid-column: span 2;
    }

    .person {
      gap: 0;
      border: solid 1px var(--border);
      border-radius: 6px;
      direction: rtl;

      .gender {
        border: none;
        border-radius: 0;

        &:nth-child(2n) {
          border-top: solid 1px var(--border);
        }
      }

      &:nth-child(2n) {
        direction: ltr;
      }

      &:nth-child(2n + 1) span {
        border-left: none;
        border-right: solid 1px var(--border);
      }
    }
  }
}
