.tasreef {
  display: grid;
  gap: 1rem;
  min-width: 7.5rem;
  position: relative;
  flex-shrink: 0;

  .cell {
    display: grid;
    grid-template-columns: 1fr 1.5rem;
    height: 2.25rem;
    background-color: var(--white);
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.25rem;
    padding: 0 0.75rem;
    white-space: nowrap;
    border: solid 1px var(--border);
    border-radius: 6px;
    position: relative;
    font-weight: 600;

    .play {
      position: absolute;
      top: 0;
      left: 6px;
      bottom: 0;

      display: flex;
      align-items: center;
    }
  }

  .not-found {
    border: solid 1px var(--border);
    border-radius: 6px;
    position: absolute;
    top: 3.25rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    background-color: var(--white);
  }

  .person {
    display: grid;
    gap: 1rem;
    direction: ltr;
    overflow: hidden;

    .gender {
      border: solid 1px var(--border);
      border-radius: 6px;
      overflow: hidden;

      .cell {
        .seegha,
        .seegha-number {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .seegha {
          direction: rtl;
          padding: 0 0.75rem;
          white-space: nowrap;

          span {
            right: -1.25rem;
          }
        }

        .seegha-number {
          user-select: none;
          color: var(--text-secondary);
          border-left: solid 1px var(--border);
          font-size: 14px;
        }
      }

      .cell + .cell {
        border-top: solid 1px var(--border);
      }
    }
  }

  &.by-gender {
    .person:not(:last-of-type) {
      grid-template-columns: 1fr 1fr;
      direction: rtl;
    }

    .gender:nth-child(2n + 1) .cell {
      direction: ltr;
    }

    .gender:nth-child(2n) .seegha-number {
      border-left: none;
      border-right: solid 1px var(--border);
    }
  }

  &.by-person {
    grid-template-columns: 1fr 1fr;
    direction: rtl;

    .header,
    .person:last-of-type {
      grid-column: span 2;
    }

    .person {
      gap: 0;
      border: solid 1px var(--border);
      border-radius: 6px;
      direction: rtl;

      .gender {
        border: none;
        border-radius: 0;

        &:nth-child(2n) {
          border-top: solid 1px var(--border);
        }
      }

      &:nth-child(2n) {
        direction: ltr;
      }

      &:nth-child(2n + 1) .seegha-number {
        border-left: none;
        border-right: solid 1px var(--border);
      }
    }
  }
}
