@font-face {
  font-family: 'Noto Sans Arabic';
  src: url('noto-sans-arabic.woff2');
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'System';
  src: local('-apple-system'), local('BlinkMacSystemFont'),
    local('Traditional Arabic');
  unicode-range: U+0600-06FF;
}

@font-face {
  font-family: 'KFGQPC Uthman Taha Naskh';
  src: url('uthman-taha-naskh.ttf');
  unicode-range: U+0600-06FF;
  size-adjust: 130%;
}

@font-face {
  font-family: 'KFGQPC Uthmanic Script Hafs';
  src: url('uthmanic-script-hafs.otf');
  unicode-range: U+0600-06FF;
  size-adjust: 130%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

input {
  accent-color: var(--text-secondary);
}

input[type='checkbox'] {
  accent-color: var(--border);
}

select {
  height: 2.25rem;
  color: var(--text);
  padding: 0 8px;
  border: solid 1px var(--border);
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 250ms;
  background-color: var(--hover);

  &:focus {
    border-color: var(--text);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --white: #ffffff;
  --text: #374151;
  --text-secondary: #9ca3af;
  --hover: #e5e7eb;
  --border: #e5e7eb;
  --background: #f3f3f3;
  --arabic-font: 'Noto Sans Arabic';
}

:root.dark {
  --white: #0a0a0a;
  --text: #ededed;
  --text-secondary: #a1a1a1;
  --hover: #1f1f1f;
  --border: #262626;
  --background: #000000;
}

html {
  background-color: var(--background);

  font-family: var(--arabic-font), 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75rem;
  color: var(--text);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* old browsers */
  height: 100dvh; /* new browsers */
}

svg * {
  transition: fill 250ms;
}

/** Scrollbar */

::-webkit-scrollbar {
  background-color: transparent;
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid var(--background);
}

::-webkit-scrollbar-button {
  display: none;
}

.screen-wrapper {
  display: flex;
  flex: 1;
  height: 0;
}

.screen-wrapper main {
  flex: 1;
  width: 0;
  display: flex;
  flex-direction: column;
}

.screen-wrapper main .screen-content {
  flex: 1;
  height: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.screen-wrapper aside {
  width: 250px;
}

@media only screen and (max-width: 600px) {
  .screen-wrapper {
    flex-direction: column;
  }

  .screen-wrapper main {
    width: unset;
    height: 0;
  }

  .screen-wrapper aside {
    width: 100%;
  }
}

.global-modal-overlay {
  z-index: 999;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition:
    visibility 250ms,
    background-color 250ms;

  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  padding: 64px;

  overflow: hidden;
}

.global-modal-overlay:has(.global-modal) {
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.85);
}

.global-modal {
  background-color: var(--white);
  border-radius: 6px;
  border: solid 1px var(--border);
  animation: revealGlobalModal 500ms;
  animation-fill-mode: forwards;

  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@keyframes revealGlobalModal {
  0% {
    opacity: 0;
    margin-top: 100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.global-modal-header {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  padding: 12px;
  padding-left: 24px;
  border-bottom: solid 1px var(--border);
}

.global-modal-header-close {
  padding-top: 2px;
  line-height: 0;
}

.global-modal-content {
  flex: 1;
  overflow: auto;
}

@media print {
  body {
    visibility: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .screen-wrapper main .screen-content {
    visibility: visible;
    position: absolute;
    width: 100vw;
    height: fit-content;
  }
}
