.sarfSagheerContainer {
  font-family: var(--arabic);
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  padding: 6px 32px;
  border: 2px solid var(--border);

  span {
    color: var(--text-disabled);
  }
}
