.navbarContainer {
  display: flex;
  gap: 8px;
  height: 36px;
  user-select: none;

  span {
    align-self: center;
  }

  select,
  button {
    border: none;
    cursor: pointer;
    padding: 0 8px;
    border-radius: 4px;
    background-color: var(--background);
    transition: background-color 500ms;

    &:hover {
      background-color: var(--button-hover);
    }

    &:active {
      background-color: var(--button-active);
    }
  }

  select {
    font-family: var(--arabic);
    font-weight: 600;
    overflow-y: scroll;

    option {
      direction: rtl;
      color: var(--text-secondary);
      background-color: var(--button-hover);
    }

    optgroup {
      background-color: var(--background);
      color: var(--text);
      display: block;
    }
  }
}
