.conjugationsContainer {
  font-family: var(--arabic);
  font-weight: 600;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    text-align: center;
  }

  .tabs {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    font-size: 16px;
    margin-bottom: -2px;
    width: 150px;

    button {
      flex: 1;
      border: solid 2px var(--border);
      cursor: pointer;
      padding: 0 8px;
      background-color: var(--background);
      color: var(--border);
      transition:
        background-color 500ms,
        color 500ms;

      &:hover,
      &[data-selected='true'] {
        background-color: var(--border);
        color: var(--text);
      }
    }

    button + button {
      margin-left: -2px;
    }
  }

  audio {
    margin: 0 auto;
  }

  p {
    border: solid 2px var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
  }

  .conjugations {
    display: grid;
    grid-template-columns: 1fr;

    p + p,
    div + div {
      margin-top: -2px;
    }

    &.grouped {
      gap: 16px;

      div + div {
        margin-top: 0;
      }

      & > div {
        display: flex;
        flex-direction: row-reverse;

        div {
          flex: 1;

          &:nth-child(2) {
            margin-right: -2px;
          }
        }
      }
    }
  }
}
