.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    padding: 32px;
    background-color: var(--background);
    min-width: 40%;
  }

  button {
    margin-top: 16px;
  }
}

.conjugationsContainer {
  font-family: var(--arabic);
  font-weight: 600;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    text-align: center;
  }

  .tabs {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    font-size: 16px;
    margin-bottom: -2px;
    width: 150px;

    button {
      flex: 1;
      border: solid 2px var(--border);
      cursor: pointer;
      padding: 0 8px;
      background-color: var(--background);
      color: var(--border);
      transition:
        background-color 500ms,
        color 500ms;

      &:hover,
      &[data-selected='true'] {
        background-color: var(--border);
        color: var(--text);
      }
    }

    button + button {
      margin-left: -2px;
    }
  }

  audio {
    margin: 0 auto;
  }

  p {
    border: solid 2px var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
  }

  .conjugations {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    p + p,
    div + div {
      margin-top: -2px;
    }

    p {
      position: relative;
    }

    p:before {
      content: attr(data-number);
      position: absolute;
      top: 0;
      right: 16px;
      color: var(--text-disabled);
    }

    &:not(.grouped) {
      & > div {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }

    &.grouped {

      div + div {
        margin-top: 0;
      }

      & > div {
        display: flex;
        flex-direction: row-reverse;

        div {
          flex: 1;

          &:nth-child(2) {
            margin-right: -2px;

            p:before {
              right: unset;
              left: 16px;
            }
          }
        }
      }
    }
  }
}
