@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next {
  flex: 1;
  height: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 216);
  border-radius: 8px;
  border: transparent;
}

/**
 * Dialog animations:
 * - Background fades in
 * - Content slides up
 */

dialog {
  animation: slideUp 250ms forwards;
  animation-delay: 150ms;
  background-color: transparent;
  transform: translateY(1rem);
  opacity: 0;
  transition:
    transform 250ms,
    opacity 250ms;
}

dialog::backdrop {
  animation: fadeIn 250ms forwards;
  background-color: transparent;
  transition: background-color 250ms;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    @apply bg-zinc-900/50;
  }
}
