@tailwind base;
@tailwind components;
@tailwind utilities;

div#__next {
  flex: 1;
  height: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 216);
  border-radius: 8px;
  border: transparent;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.75em;
  width: 0.75em;
  border-radius: 100%;
  background-color: currentColor;
  transition: color 250ms;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 0.75em;
  width: 0.75em;
  border-radius: 100%;
  background-color: currentColor;
  transition: color 250ms;
}

/**
 * Dialog open animations:
 * - Background fades in
 * - Content slides up
 */

dialog {
  animation: slideUp 250ms forwards;
  background-color: transparent;
  transition:
    transform 250ms,
    opacity 250ms;
}

dialog::backdrop {
  animation: fadeIn 250ms forwards;
  transition: background-color 250ms;
}

/**
 * Dialog close animation:
 * - Background fades out
 * - Content slides down
 */

dialog.close {
  animation: slideDown 250ms forwards;
}

dialog.close::backdrop {
  animation: fadeOut 250ms forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    background-color: transparent;
  }
  to {
    @apply bg-zinc-900/50;
  }
}

@keyframes fadeOut {
  from {
    @apply bg-zinc-900/50;
  }
  to {
    background-color: transparent;
  }
}
